{% extends "layout.html" %}

{% block title %}
    Writeoff
{% endblock %}

{% block main %}
<main class="container py-3">
    <form action="/writeoff" method="post">
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th class="text-start columns" name="id">ID</th>
                    <th class="text-start columns" name="project_num">Project number</th>
                    <th class="text-start columns" name="article">Article</th>
                    <th class="text-end columns" name="planned_sheets">Planned sheets</th>
                    <th class="text-end columns" name="sheets">Used sheets</th>
                </tr>
            </thead>
        <tbody>
                {% for project in projects %}
                    <tr class="unit-table">
                        <td class="text-start">{{ project["id"] }}</td>
                        <td class="text-start">{{ project["project_num"] }}</td>
                        <td class="text-start">{{ project["article"] }}</td>
                        <td class="text-end">{{ project["planned_sheets"] }}</td>
                        <td class="text-end"><input autocomplete="off" class="form-control w-auto" id="used_sheets" name="{{ project["id"] }}" type="number"></td>
                        <td class="text-end"><button class="btn btn-success btn-sm" name="submit" value="{{ project["id"] }}" type="submit">DONE</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    <script src="/static/js/scripts.js" type="text/javascript"></script>
</main>
{% endblock %}